{% extends 'core/base.html' %}
{% load static %}

{% block title %} News {% endblock title %}

{% block header %}
{% include 'core/include/header_sign.html' %}
{% endblock header %}

{% block content %}
<main class="grow flex justify-center ">
    <div class="p-16 w-10/12 flex flex-col items-center mt-5 bg-gray-100 rounded-2xl">
        <div class="">
            <div class="flex flex-col items-center pb-4 text-xl">Sign Up </div>
            
            <div>
                <form action="" method="POST">
                    {% csrf_token %}

                    {% for field in signup_form %}
                        <div class="flex flex-col items-center justify-center mb-3">
                            <div>{{ field.errors }}</div>
                            <div class="">
                                <div>{{ field.label_tag }}</div>
                                <div>{{ field }}</div>
                            </div>
                        </div>
                    {% endfor %}

                    <button type="submit" class="mt-5 py-3 bg-blue-500 rounded-md text-white text-xl  w-full">Sign Up</button>
                    <div class="text-center mt-5 space-x-2">
                        <p class="text-base"> Do you have an account? <a href="{% url 'signin' %}"> Sign In </a></p>
                    </div>
                </form>
            </div>

        </div>

    </div>
</main>
{% endblock content %}

{% block script %}

{% endblock %}
